__Pre-process original `MovieLens-100K` dataset__

In [8]:
import pandas as pd 
import numpy as np

_Dataloading_

In [4]:
# processing user data
user_df = pd.read_csv('../data/ml_100k/u.user', sep='|', header=None, names=['id', 'age', 'gender', 'occupation', 'zip_code'], engine='python',encoding="ISO-8859-1")
user_df.head()

   id  age gender  occupation zip_code
0   1   24      M  technician    85711
1   2   53      F       other    94043
2   3   23      M      writer    32067
3   4   24      M  technician    43537
4   5   33      F       other    15213

In [5]:
user_df.to_csv('../data/ml_100k/user_data.csv', index=False)

In [6]:
# processing item data
GENRES = ['unknown', 'Action', 'Adventure', 'Animation',
     'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
     'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
     'Thriller', 'War', 'Western']
item_df = pd.read_csv('../data/ml_100k/u.item', sep='|', header=None,
                                          names=['id', 'title', 'release_date', 'video_release_date', 'url'] + GENRES,
                                          engine='python',encoding="ISO-8859-1")
item_df.head()

,id,title,release_date,video_release_date,url,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
item_df.to_csv('../data/ml_100k/item_data.csv', index=False)

In [9]:
# processing training data
rating_df = pd.read_csv(
            '../data/ml_100k/u1.base', sep='\t', header=None,
            names=['user_id', 'item_id', 'rating', 'timestamp'],
            dtype={'user_id': np.int32, 'movie_id' : np.int32,
                   'ratings': np.float32, 'timestamp': np.int64}, engine='python',encoding="ISO-8859-1")
rating_df.head()

   user_id  item_id  rating  timestamp
0        1        1       5  874965758
1        1        2       3  876893171
2        1        3       4  878542960
3        1        4       3  876893119
4        1        5       3  889751712

In [11]:
rating_df.to_csv('../data/ml_100k/train_data.csv', index=False)

In [10]:
# processing validation data supplied
test_df = pd.read_csv(
            '../data/ml_100k/u1.test', sep='\t', header=None,
            names=['user_id', 'item_id', 'rating', 'timestamp'],
            dtype={'user_id': np.int32, 'movie_id' : np.int32,
                   'ratings': np.float32, 'timestamp': np.int64}, engine='python',encoding="ISO-8859-1")
test_df.head()

   user_id  item_id  rating  timestamp
0        1        6       5  887431973
1        1       10       3  875693118
2        1       12       5  878542960
3        1       14       5  874965706
4        1       17       3  875073198

In [12]:
test_df.to_csv('../data/ml_100k/test_data.csv', index=False)